<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="http://gmpg.org/xfn/11">
<title>404 Page Not Found - Soapbox Race World</title>
<meta name="twitter:title" content="Soapbox Race World">
<meta property="og:image" content="/assets/img/sbrw.png">
<meta name="description" content="A community project to restore Need for Speed: World. NOT AFFILIATED WITH ELECTRONIC ARTS">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="A community project to restore Need for Speed: World. NOT AFFILIATED WITH ELECTRONIC ARTS">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="480x480" href="/assets/img/sbrw.png">
<link rel="manifest" href="/assets/favicons/site.webmanifest">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#000000">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel='dns-prefetch' href='//fonts.googleapis.com'>
<!-- CSS -->		
<link rel='stylesheet' id='bootstrap-css' href='/assets/required/bootstrap.min.css' type='text/css' media='all'>
<link rel='stylesheet' id='sbrw-style-css' href='/assets/css/style.css' type='text/css' media='all'>
<style id='sbrw-style-inline-css' type='text/css'>
.site-header {position: fixed;}
.site-title a,.site-title a:hover { color:#ffffff}
.site-description { color:#BDBDBD}
.site-header,.site-header.header-scrolled { background-color:rgba(32,37,41,0.9)}
@media only screen and (max-width: 1024px) { .site-header.has-header,.site-header.has-video,.site-header.has-single,.site-header.has-shortcode { background-color:rgba(32,37,41,0.9)} }
body, .widget-area .widget, .widget-area .widget a { color:#656D6D}
.footer-widgets, .site-footer, .footer-info { background-color:#202529}
body {font-family: 'Open Sans', sans-serif;}
h1, h2, h3, h4, h5, h6, .fact .fact-number, .fact .fact-name, .site-title {font-family: 'Josefin Sans', sans-serif;}
.site-title { font-size:36px; }
.site-description { font-size:14px; }
h1 { font-size:36px; }
h2 { font-size:30px; }
h3 { font-size:24px; }
h4 { font-size:16px; }
h5 { font-size:14px; }
h6 { font-size:12px; }
body { font-size:14px; }
#websiteCreator {display: none; }
</style>
<style id="custom-background">
body {background-image:url("https://i3-sbrw.davidcarbon.download/assets/images/NFSW127-web.jpg");
background-position:center center;
background-size:cover;
background-repeat:no-repeat;
background-attachment:fixed;}
</style>
<link rel='stylesheet' id='sbrw-body-fonts-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C600%2C600italic&ver=5.3' type='text/css' media='all'>
<link rel='stylesheet' id='sbrw-headings-fonts-css' href='https://fonts.googleapis.com/css?family=Josefin+Sans%3A300italic%2C300&ver=5.3' type='text/css' media='all'>
<link rel='stylesheet' id='font-awesome-css'  href='https://use.fontawesome.com/releases/v5.7.1/css/all.css' type='text/css' media='all' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
<!-- Javascript -->
<script type='text/javascript' src='/assets/required/jquery.js'></script>
<script type='text/javascript' src='/assets/required/jquery-migrate.min.js'></script>
<meta name="generator" content="DavidCarbon">
<meta name="version" content="3.0">
<link rel="canonical" href="/">
<link rel='shortlink' href='/'>
</head>
<body class="home page-template page-template-page-templates page-template-page_widgetized page-template-page-templatespage_widgetized-php page page-id-80 theme-sbrw woocommerce-no-js">
	<div class="preloader">
		<div class="preloader-inner">
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<div id="page" class="site">
	<header id="masthead" class="site-header " role="banner">
		<div class="container">
			<div class="site-branding col-md-4 col-sm-6 col-xs-12">
				<p class="site-title"><a href="/" rel="home">Soapbox Race World</a></p>
				<center><p class="site-description"></p></center>
			</div>
			<div class="btn-menu col-md-8 col-sm-6 col-xs-12">
				<i class="fas fa-bars"></i>
			</div>
			<nav id="mainnav" class="main-navigation col-md-8 col-sm-6 col-xs-12" role="navigation">
				<div class="menu-menu-container">
					<ul id="primary-menu" class="menu"></ul>
				</div>
			</nav><!-- #site-navigation -->
		</div>
	</header><!-- #masthead -->
	<div class="header-clone"></div>
	<div class="site-content">
	<div class="container">
	<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">
<div id="comments" class="comments-area">
	<div id="content" class="comment-respond">
	    <div class="alert" :class="['alert-' + messageType]" v-if="message && message.length">
			<strong>{{ message }}</strong>
		</div>
		<h3 id="reply-title" class="comment-reply-title"><b>Player Export</b></h3>
		<form class="comment-form">
			<p class="comment-notes">
				<span id="email-notes"><b>Please Chose a Server to Export Player Profile</b></span>
				<br></br>
				<span id="email-notes" style="color:black">Required fields are marked</span>
				<span class="required">*</span>
			</p>
			<p class="comment-notes">
				<span id="email-notes" style="color:black">Server</span>
			</p>
			<p class="comment-form-comment">
				<select class="form-control col-sm-9" v-model="server">
                    <option disabled selected>Select a server...</option>
					<option v-for="(server, key) in servers" :key="key" :value="server.ip_address">{{ server.name }}</option>
                </select>
			</p>
			<p class="comment-form-email">
				<label for="inputEmail3" style="color:black">Email
					<span class="required">*</span>
				</label>
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" v-model="email">
			</p>
			<p class="comment-form-password">
				<label for="inputPassword3" style="color:black">Password
					<span class="required">*</span>
				</label>
				<input type="password" class="form-control" id="inputPassword3" placeholder="Password" v-model="password">
			</p>
			<p class="form-submit">
               <button type="submit" class="btn btn-primary" @click.prevent="submit" :disabled="!canSubmit" :class="{'disabled': !canSubmit}">Export</button>
			</p>
		</form>
	</div><!-- #respond -->
</div><!-- #player-export -->
</main><!-- #main -->
</div><!-- #primary -->
</div>
</div><!-- content -->
<div class="footer-wrapper">
	<div class="footer-info">
		<div class="container">
			<div class="footer-branding">
				<a><img class="footer-logo" src="assets/img/logo-simple-colors.png" alt="SBRW Simple Color Logo"></a>
			</div>
			<div class="footer-contact">
				<a class="footer-contact-block" href="https://github.com/SoapboxRaceWorld" target="_blank">
					<i class="fab fa-github"></i>
						<span>GitHub</span>
				</a>
				<a class="footer-contact-block" href="https://facebook.com/SoapboxRaceWorld" target="_blank">
					<i class="fab fa-facebook"></i>
						<span>Facebook</span>
				</a>
				<a class="footer-contact-block" href="https://twitter.com/sbrw_project" target="_blank">
					<i class="fab fa-twitter"></i>
						<span>Twitter</span>
				</a>
				<a class="footer-contact-block" href="https://discord.gg/TUsXvVp" target="_blank">
					<i class="fab fa-discord"></i>
					<span>Discord</span>
				</a>
			</div>
		</div>
	</div>
	<footer id="colophon" class="site-footer" role="contentinfo">	
		<div class="site-info container">
			<nav id="footernav" class="footer-navigation" role="navigation">
				<div class="menu-menu-container">
					<ul id="footer-menu" class="menu">
					</ul>
				</div>
			</nav><!-- #site-navigation -->
			<div class="site-copyright">
			<a href="/">© 2017 - 2019 Soapbox Race World</a>
			</div>
		</div><!-- .site-info -->
		<!-- #not affiliated with Electronic Arts or the Need for Speed™ brand -->
		<center><p style="color:#ffffff;"><span class="title-decoration"></span>This project is not affiliated with Electronic Arts or the Need for Speed™ brand in any way, shape or form. Need for Speed is a trademark of Electronic Arts.</p></center>
		<!-- Contacts CDN and Server Functions -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js" integrity="sha256-FtWfRI+thWlNz2sB3SJbwKx5PgMyKIVgwHCTwa3biXc=" crossorigin="anonymous"></script>
      <script>
        new Vue({
          el: '#content',
          data: function() {
            return {
              servers: [],
              server: '',
              email: '',
              password: '',
              message: '',
              messageType: '',
            }
          },
          mounted: function() {
            this.loadServers()
          },
          computed: {
            canSubmit: function() {
              return this.server.length
                && this.email.length 
                && this.password.length
            }
          },
          methods: {
            submit: function() {
              this.message = ''
              axios.post('/', { server: this.server, email: this.email, password: this.password }, { responseType: 'arraybuffer' })
                .then(function(response) {
                  var url = window.URL.createObjectURL(new Blob([response.data]));
                  var link = document.createElement('a');
                  link.href = url;
                  var date = new Date().toLocaleString().replace(/\//g, '-').replace(', ', '_').replace(/:/g, '-').replace(/ /g, '')
                  link.setAttribute('download', "dump-" + date + ".zip");

                  document.body.appendChild(link);
                  link.click();

                  this.messageType = 'success'
                  this.message = 'Done!'
                  this.server = ''
                  this.email = ''
                  this.password = ''
                }.bind(this))
                .catch(function(error) {
                    this.message = error.response.data
                    this.messageType = 'danger'
                }.bind(this))
            },
            loadServers: function() {
                axios.get('http://launcher.worldunited.gg/serverlist.json?bypass=1').then(function(response) {
                  this.servers = response.data
                }.bind(this))
            }
          }
        })
      </script>
	</footer><!-- #colophon -->
</div>
</div><!-- #page -->
<script src='/assets/element/display.js'></script>
<script src='/assets/static-db/menu-list.js'></script>
<script type='text/javascript' src='/assets/required/main.js'></script>
<script type='text/javascript' src='/assets/required/scripts.min.js'></script>
<!--[if lt IE 9]>
<script type='text/javascript' src='/assets/required/html5shiv.js'></script>
<![endif]-->
</body>
</html>
